/* Global Styles */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    color: #333;
    line-height: 1.6;
}

header, footer {
    background-color: #333;
    color: blue;
    text-align: center;
    padding: 1em 0;
}

nav {
    background-color: #444;
    padding: 10px 0;
    text-align: center;
}

nav a {
    color: red;
    text-decoration: none;
    margin: 0 15px;
    padding: 10px 15px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

nav a:hover {
    background-color: #555;
}

section {
    padding: 40px 20px;
    margin: 20px;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.project {
    margin-bottom: 40px;
}

.project h3 {
    margin-top: 20px;
    font-size: 24px;
}

.project img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}

.project p {
    margin-top: 20px;
    font-size: 16px;
}

footer {
    text-align: center;
    padding: 20px 0;
    background-color: #333;
    color: Orange;
    font-size: 14px;
}
